<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="Suite">-->
<suite name="TestingSuite" thread-count="1" parallel="methods">
   <!--<test thread-count="1" name="Test">-->
   <test name="Test">
    <classes>
      <class name="Testscripts.Vehiclelistpageforcar"/>
      <class name="Testscripts.LoginTest"/>
      <class name="Testscripts.Vehiclelistpageforbike"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
